body
    overflow: scroll
    background-color: $medium
    

/* ------------------------------- index html ------------------------------- */
.container
    height: 105vh
    width: 100% !important
    max-width: none !important
    margin: 0px !important


    .menu-col
        padding: 32px 24px 0px 24px
        height:  105vh
        background-color: $medium

        @media (max-width: 960px)
            height: auto
            text-align: center
            padding: 24px 24px 0px 24px


    .content
        width: 80%
        margin: auto
        padding: 24px
        cursor: default

        @media (max-width: 960px)
            width: 95%
            padding: 12px

        .me
            margin-top: 42px

        .tag
            display: inline
            height: 20px
            font-size: 18px
            font-weight: 500
            cursor: default

        .one
            background-color: pink

        .two
            background-color: $yellow

        .three
            background-color: $light-blue

        .four
            background-color: $grey-8

        .five
            background-color: $accent-light

        .bio
            background-color: white
            color: $grey-2

            .bio-title
                color: $modern-grey-3
                font-size: 26px
                font-weight: 700
                margin-bottom: 0px

            .bio-subtitle
                color: $cold-grey-3
                font-size: 18px
                margin: 0 auto 24px 0

            .divider
                height: 24px
                margin: 12px
            
            .when
                font-size: 22px
                font-weight: 900
                color: $modern-grey-6
                text-align: center
                border-right: 4px solid $pink

                @media (max-width: 960px)
                    border-right: none


            .what
                font-size: 18px
                font-weight: 700
                color: $modern-grey-4

                .where
                    font-size: 16px
                    font-weight:500
                    color: $modern-grey-5




        .me-box
            background-color: white
            background-image: url(../../data/images/trees.jpg)
            background-repeat: repeat-x
            background-size: 90% auto
            color: white

            img
                width: 300px

            li
                margin-bottom: 12px


        .info-tile
            box-shadow: 2px 2px 6px $light-shadow-grey
            // box-shadow: none
            
            a
                color: $grey-1
                cursor: pointer
                font-weight: bold

                &:hover
                    color: black


            .title
                color: $modern-grey-2

            .my-links
                box-shadow: none
                background-color: hsla(0, 0, 0, 0)

                .media-content
                    color: $grey-1
                    font-size: 18px

                img
                    border-radius: 50%
                    box-shadow: 0.5px .5px .5px $medium-shadow-grey
                    border: 1px solid $light-shadow-grey
            
        .show-cv-button
            font-size: 24px
            margin: 48px auto 6px auto
            color: $modern-grey-5
            font-weight: bold
            cursor: pointer
            
            &:hover
                color: $accent-medium

        .CV
            display: none
            background-color: white

            iframe
                width: 100%
                min-height: 800px

                #controls
                    display: none

/* -------------------------------- projects -------------------------------- */
.projects
    margin: auto !important
    cursor: default

    @media (max-width: 960px)
        width: 80%

    a
        color: $grey-1
        cursor: pointer
        font-weight: bold

        &:hover
            color: black


    .project
        margin: 0px auto

        @media (max-width: 960px)
            width: 100%


        .project-card
            margin-top: 64px
            border-radius: 12px
            // min-height: 700px
            // max-height: 1000px
            overflow: scroll

            @media (max-width: 960px)
                min-height: auto
                width: 100%
                

            img
                border-radius: 12px 12px 0 0

            .content
                width: 95%
                margin: none
                padding: 24px 0px  



/* --------------------------------- papers --------------------------------- */

.papers
    margin: 48px 128px 
    cursor: default

    @media (max-width: 960px)
        margin: 32px 24px

    a
        color: $grey-1
        cursor: pointer
        font-weight: bold

        &:hover
            color: black

    .pub-title
        font-size: 20px
        margin-bottom: 8px

    .pub-authors
        font-size: 16px

    .pub-details
        margin-top: 8px
        color: $modern-grey-3

        a
            color: $modern-grey-5
    
    .year
        font-size: 24px
        margin: 48px auto 6px auto
        color: $modern-grey-5