.leftcol
    background-color: hsl(122 37 74)
    min-height: 100vh
    overflow: fixed

    @media screen and (max-width:1090px)
        min-height: auto

    .bio
        background-color: hsl(0, 0, 99)
        border-radius: 7px
        box-shadow: 1px 2px 5px $medium-shadow-grey inset
        margin: 42px 20px
        min-height: 250px
        text-align: center

        @media screen and (max-width:1090px)
            height: 90%

        .personal-photo
            width: 250px
            height: 250px
            border-radius: 50%
            margin: auto
            border: 1px solid hsla(0, 0, 0, .3)
            margin-bottom: 24px

        .name
            @extend  %font
            font-weight: 800
            font-size: 36px
            padding-bottom: 12px
            margin-bottom: 10px
            border-bottom: 3px solid hsl(122 37 30)

        .contacts
            text-align: left
            @extend  %font
            color: hsl(0, 0, 40)
            font-weight: 300
            font-size: 24px
            padding-left: 12px

            .contact
                margin-top: 6px
            
            .bio-icon
                margin-right: 6px

.rightcol
    background-color: hsl(120, 10, 90)
    min-height: 100vh
    overflow: scroll

    @media screen and (max-width:1090px)
        min-height: auto

    .divider-title
        @extend %font
        margin: 48px auto -30px auto
        width: 80%
        max-width: 1200px
        border-bottom: 4px solid hsl(122 22 35)

        .title
            font-size: 45px
            font-weight: 900
            color: hsl(122 22 35)

    .project
        background-color: hsl(120, 10, 95)
        border-radius: 7px
        box-shadow: 1px 2px 5px $light-shadow-grey
        margin: 42px auto
        max-width: 1200px

        @media screen and (max-width:1090px)
            margin: 12px auto
            width: 95%

        .link
            @extend %link

        .proj-image
            border-radius: 50%
            width: 150px
            height: 150px

        .proj-image-alt
            border-radius: 10%
            width: 150px
            height: 150px

        .level
            @extend  %font
            font-size: 18px
            color: hsl(0, 0, 40)

            .proj-link
                @extend %link
                margin-top: 4px

        .publication
            margin-top: 24px

        .pub-link
            @extend %font
            font-weight: bold
            color: hsl(0, 0, 20)
            font-size: 18px

            &:hover
                color: hsl(122 50 30)

        .pub-authors
            @extend %font
            font-weight: 300
            color: hsl(0, 0, 40)

            .me
                font-weight: 600

        .pub-details
            @extend %font
            font-weight: 300
            color: hsl(0, 0, 40)

        .DOI
            @extend %font
            font-weight: 400
            color: hsl(0, 0, 30)

            &:hover
                color: hsl(0, 0, 15)
