
.canvas
    margin: 24px auto 0px 120px
    width: 50%

    @media (max-width: 960px)
        width: 90%
        min-height: 400px
        height: 400px
        margin: 32px auto

    


    .info
        color: $modern-grey-5

    a
        color: $grey-1
        cursor: pointer
        font-weight: bold

        &:hover
            color: black

    #canvasTarget
        height: 60%
        width: 100%
        background-color: white !important

        // // max-width: 800px

        // @media (max-width: 960px)
        //     width: 80%

        canvas
            width: 800px
            background-color: white !important
            border-radius: 12px
            box-shadow: 2px 2px 4px $medium-shadow-grey inset, -2px -2px 4px $light-shadow-grey inset

        .dg
            // display: none
            background-color: red
            top: 128px !important
            right: 200px !important
            width: 300px !important

            .title
                font-size: 12px 

.tiles
    width: 60%
    margin: 64px auto
    padding: 24px
    cursor: default
    display: inline

    @media (max-width: 960px)
        width: 95%
        padding: 12px


.br-tile
    min-width: 400px
    min-height: 200px
    margin: 24px
    display: flex

    @media (max-width: 960px)
        min-width: 0

.gallery-tiles
    overflow: scroll
    height: 100vh


    img
        background-color: rgb(240, 240, 240)

    .is-dark-bg
        background-color:  rgb(170, 170, 170)
    
.br-info
    a
        color: $grey-1
        cursor: pointer
        font-weight: bold

        &:hover 
            color: black

    .ver
        width: 200px

        @media (max-width: 960px)
            display: none

    .hor
        width: auto

    .txt-col
        margin-left: 64px

        
    .br-button
        background-color: $pink
        width: 100%
        font-weight: 400 !important

    .br-button2
        background-color: $light-blue
        width: 100%
        font-weight: 400 !important


.scene-header
    margin-bottom: 32px


