
.br-example
    margin: 48px 128px
    
    a
        color: $grey-1
        cursor: pointer

        &:hover
            font-weight: bold
    .app
        width: 100%

        x3d
            width: 100%
            height: 600px