$background-color: rgb(35, 35, 45)
$blue: #3d79d8
$dark-grey: #3c3c3c
$accent: rgb(173, 227, 240)
$pink: rgb(246, 239, 233)

a
    font-weight: bold
    color: $dark-grey

    &:hover
        color:  $blue



body
  margin: 0
  padding: 0
  overflow: hidden 

.background
    background: $background-color
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    z-index: -2

.triangle
    width: 0
    height: 0
    border-left: 50vw solid white  
    border-bottom: calc(50vw * .8) solid transparent  
    position: absolute
    top: 0
    left: 0
    overflow: hidden
    z-index: -1

    //    on mobile, change the size of the triangle
    @media (max-width: 768px)
        border-left: 100vw solid white
        border-bottom: 30vh solid transparent
        display: none

.brainimage
    width: 150px
    height: 150px
    position: absolute
    top: 25px
    left: 25px
    border-radius: 50%

    //blur radious
    // box-shadow: 0 0 10px 10px $pink inset
    background-image: url(images/federico.jpg)
    background-size: contain
    border: 1px solid rgb(200, 200, 200)

    @media (max-width: 768px)
        display: none

.name
    font-size: 2rem
    font-weight: light
    color: $background-color
    position: absolute
    top: 6vh
    left: 200px

    // on mobile, put it at the top
    @media (max-width: 768px)
        top: 1vh
        right: 5vw
        left: auto
        bottom: auto
        color: $background-color

.email
    font-size: 1rem
    font-weight: lighter
    color: $background-color
    position: absolute
    top: 14.2vh
    left: 200px

    // on mobile, put it at the top
    @media (max-width: 768px)
        top: 6vh
        right: 5vw
        bottom: auto
        left: auto
        color: $background-color



.namebackground
    width: 100%
    height: 12vh
    background: white

/* ----------------------------------- bio ---------------------------------- */

.biolinks
    margin-right: 5vw
    margin-top: 6vh
    height: 20vh

    @media (max-width: 768px)
        margin: auto 0
        height: auto
        justify-content: center
        padding: 0 .2rem

.biocols
    @media (max-width: 768px)
        width: 80%
        margin: -2vh auto

.bio-link-small
    color: white
    display: ruby
    font-size: 1.15rem

    @media (max-width: 768px)
        margin-left: 0
        justify-content: center
        // width: calc(100vw / 3)
        font-size: .75rem
        display: auto

    a
        color: white
        text-decoration: none

    .bioicon
        width: 2rem
        height: 2rem
        transform: translateY(0.2rem)

        @media (max-width: 768px)
            margin-right: 0rem
            margin-left: 0rem

/* --------------------------------- biotext -------------------------------- */

.biotext
    color: white
    width: 50%
    margin-left: 45vw
    text-align: right

    @media (max-width: 768px)
        width: 90%
        margin: 3em auto
        text-align: center
        font-size: .75rem

    .bio-paragraph
        margin-top: 1em
        margin-bottom: 3em
        font-weight: lighter
        padding-right: 1em

        @media (max-width: 768px)
            padding: .5em
            margin-top:0
            margin-bottom: 1em

    a
        color: $accent
        text-decoration: none
    b
        color: white

    .bpone
        border-right: 2px solid $accent
        padding-right: 1em
        font-size: 1.2rem
        margin-bottom: 2rem

        @media (max-width: 768px)
            border-right: none
            margin-bottom: .25rem