$light-blue: #0d3069
$lighter-blue: #062048
$blue: #3d79d8
$dark-grey: #3c3c3c

a
    font-weight: bold
    color: $dark-grey

    &:hover
        color:  $blue


.hero-columns
    width: 100%
    margin: 0% 10%

.links-box
    font-size: 20px
    padding-left: 24px
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .3)

    a
        font-weight: bold
        color: $dark-grey
        &:hover
            color: $blue

/* ---------------------------------- hero ---------------------------------- */
// .myhero

/* ----------------------------------- bio ---------------------------------- */
$main-image-size: 200px
$small-image-size: 50px
$offset: 20px

.col-pad
    margin:10rem 0
    @media (max-width: 600px) 
        margin: 2rem 0

.container
  position: relative
  margin: 5em 5em

.round_img
  width: $main-image-size
  height: $main-image-size
  background-color: #3498db
  border-radius: 50%
  border: 1px solid rgb(120, 120, 120)

.small-image
  width: $small-image-size
  height: $small-image-size
  background-color: white
  border-radius: 50%
  position: absolute
  top: 25%
  left: 5%
  width: fit-content
  height: fit-content
  border-radius: 40px
  padding: 0px 12px 0px 0px

.top
    transform: translate(125px, -70px)

.two
    transform: translate(160px, -10px)

.three
    transform: translate(160px, 50px)

.bottom
    transform: translate(125px, 110px)


.bio-images-large-screen
    // hide on phone
    @media (max-width: 600px)
        display: none

.bio-images-small-screen
    display: none
    // show on phone
    @media (max-width: 600px) 
        display: block

.bio-link-small
    text-align: center


.bio-paragraph
    text-align: center
    margin: 0rem 2rem 2rem 2rem

.col-right
    margin-right: 10rem
    @media (max-width: 600px) 
        margin-right: 0rem